@media print {
  @page {
    size: auto;
    /* auto is the initial value */
    margin: 0;
    /* this affects the margin in the printer settings */
  }

  html {
    margin: 0px;
    /* this affects the margin on the html before sending to printer */
  }

  body {
    -webkit-print-color-adjust: exact;
  }
}

body {
  margin: 0px;
  padding: 0cm;
  font-family: Arial;
}

.page {
  padding: 0cm;
  margin: 0px;
  width: 8.5in;
  height: 11in;
  display: flex;
  align-items: center;
  justify-content: center;

}

.cards {
  position: relative;
  width: 7.5in;
  height: 10.5in;
  margin: 0px;
  padding: 0px;
  border-width: thick;
  border-radius: 0cm;
  border: solid #360000;
}

.cards > img {
  width: 7.5in;
  height: 10.5in;
  margin: 0px;
  padding: 0px;
}

.cards > div {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  margin: 0px;
  padding: 0px;
}

.fancyborder {
  border-radius: 0cm;
  box-shadow: inset #360000 0 0 0 0.5mm, inset #6d0202 0 0 0 1mm,
    inset #a31818 0 0 0 1.5mm, inset #ee7272 0 0 0 2mm,
    inset #ffb9b9 0 0 0 2.5mm;
}

.card {
  width: 2.5in;
  height: 3.5in;
  padding: 2mm;
  margin: 0mm;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
}

.card .questions {
  text-align: left;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  font-size: 4.8mm;
  flex-grow: 1;
  margin: 3mm;
}

.card .questions > div {
  display: inline;
}

.card .bottom {
  font-size: 3mm;
  margin-top: -0.5em;
  margin-left: auto;
  margin-right: 1mm;
  align-self: flex-end;
  font-family: Arial;
}

.backing {
  background-color: white;
  position: relative;
  width: 8in;
  height: 11in;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.backing > div {
  width: 15in;
  height: 12in;
  font-size: 0.3in;
  transform: rotate(-45deg) translate(-0.6in, -4in);
  color: violet;
  white-space: pre;
}
